.header-profile img{
    width: 28%;
    border: solid white 4px;
    border-radius: 48%;
}
.fa-python{
    font-size: larger;
}

.skill-grids{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width:765px){
   .skill-grids{
       display:block;
    }
}
