.header-profile img{
    width: 28%;
    border: solid white 4px;
    border-radius: 48%;
}
.fa-python{
    font-size: larger;
}

.skill-grids{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
}
.circle-icon{
    display: none;
}
.skill-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width:765px){
   .skill-grids{
       display:flex;
       flex-direction:column;
       align-items:start;
       justify-content: space-evenly;
       flex-wrap: wrap;
       margin-left: 10%;
       margin-bottom: 20%;
       
    }
    .icon-lang{
        display: none;
    }
    .skill-grid{
        display: flex;
        flex-direction: row;
    }
    .circle-icon{
        display: block;
        margin-right: 7%;
    }
    .contact-column{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .about-container{
        margin-left: 10%;
    }
    

}
